/**
 * Font imports
 *
 * Place your `@font-face` rules here.
 */

@font-face {
    font-family: 'icons';
    src: url('/assets/font/icons.ttf?#{$version}') format('truetype'),
         url('/assets/font/icons.woff?#{$version}') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

%font-lato {
    font-family: $font-lato;
    font-weight: 300;
}

%font-raleway {
    font-family: $font-raleway;
    font-weight: 500;
}
