/**
 * Sensible defaults across all browsers
 */

// While contentious, I believe this should always be the default
* {
    box-sizing: border-box;
}

/* ============ Defaults ============ */

body, html {
    margin: 0;
    padding: 0;
}

.hidden, [hidden] {
    display: none;
}

header, nav, article, section, aside, footer {
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}
