/*
 * Main site menu items
 */

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;

    @media ( min-width: $tablet ) {
        display: flex;
    }

    &__item--right {
        transition: background-color 0.3s ease-in,
                    color 0.3s ease-in;
        margin-left: auto;

        @media ( min-width: $tablet ) {
            @include is("stuck") {
                color: $colour-white;
                background-color: $colour-green;
            }
        }
    }

    &__link {
        display: block;
        @extend %padding;
    }
}
