/*
 * Main site menu items
 */

.menu {
    @extend %list-reset;
    line-height: 1;
    transition: transform 0.4s ease-in-out;
    top: 6rem;
    left: -100%;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    border-top: 1px solid #eaeaea;

    @include has("js") {
        position: fixed;
        transform: translateX(0);
        background-color: $colour-white;

        @media ( min-width: $tablet ) {
            position: static;
        }
    }

    @include is("open") {
        transform: translateX(100%);
    }

    @media ( min-width: $tablet ) {
        border-top: none;
        display: flex;
    }

    &__item--right {
        transition: background-color 0.3s ease-in,
                    color 0.3s ease-in;
        margin-left: auto;

        @media ( min-width: $tablet ) {
            @include is("stuck") {
                color: $colour-white;
                background-color: $colour-green;
            }
        }
    }

    &__link {
        display: block;
        @extend %padding;
        @extend %link-hover;
    }
}
