/**
 * What you see is what you get!
 */
.wysiwyg {
    line-height: 1;

    & > :first-child {
        margin-top: 0;
    }

    h2 {
        @extend %font-raleway;
        margin: .5rem 0 0;
        font-size: 1.5rem;
    }

    h3 {
        @extend %font-raleway;
        margin: .5rem 0 0;
        font-size: 1rem;
    }

    p {
        margin: 2rem 0;
        font-size: 1.25rem;
        line-height: 1.5;

        @media ( min-width: $tablet ) {
            letter-spacing: .5px;
            text-align: justify;
        }
    }
}
